.login-container{
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.login-header{
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
}

.login-form-group {
    margin-top: 10px;
}

.login-form-control {
    text-align: center;
}

.login-form-label {
    color:black;
    font-weight: bold;
}