.package-button-container{
    flex-direction:row;
    align-items:center;
    justify-content:space-between;
    margin-top: 10px;
}

.package-container{
    align-items: center;
    flex-direction: row;
    justify-content: center;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.package-button{
    margin-right: 10px;
}
.package-form-label{
    color:black;
    font-weight: bold;
}
.package-form-control {
    /*text-align:center;*/
}